.portfolio-section {
   background-color: whitesmoke;

   .portfolio-text {
      margin-bottom: 2rem;

      .portfolio-para {
         margin: 0;
      }
   }

   ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 3rem;

      li {
         width: calc(33% - 1rem);
         margin: 1rem 0;

         img {
            width: 100%;
            height: 20rem;
         }
      }
   }

   .portfolio-anchor {
      text-align: right;
      margin-top: 5rem;
      
      a {
         color: $greener;
      }
   }

   .portfolio-anchor::after {
      content: url('https://api.iconify.design/akar-icons/arrow-right.svg?color=%236c7972&width=25&height=25');
      position: relative;
      top: 4px;
   }
}