// COLORS
$dark: #3f3830;
$light: #e5d9cd;
$greenish: #afb1a1;
$greener: #6c7972;

// IMPORTS
@import "setup";
@import "header";
@import "animations";
@import "aboutSection";
@import "portfolioSection";
@import "servicesSection";
@import "priceSection";



// GENERAL STYLES
html {
   font-size: 125%;
}

body {
   text-transform: uppercase;
   letter-spacing: 3px;
   font-family: 'Oswald', sans-serif;
}

section {
   padding: 7rem 0;
}

h2 {
   font-size: 2rem;
   color: $greener;
}

p {
   text-transform: none;
   color: $greenish;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

hr {
   width: 3rem;
   border: 1px solid $greenish;
   margin: 0;
}

.wrapper {
   max-width: 1200px;
   width: 85%;
   margin: 0 auto;
}

