

// IMPORTS
@import "setup";
@import "header";




html {
   font-size: 125%;
}

body {
   text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
}

li {
   list-style: none;

   a {
      text-decoration: none;
   }
}

.wrapper {
   max-width: 1200px;
   width: 85%;
   margin: 0 auto;
}
