// COLORS
$dark: #3f3830;
$light: #e5d9cd;
$greenish: #afb1a1;
$greener: #6c7972;

// IMPORTS
@import "setup";
@import "header";



// GENERAL STYLES
html {
   font-size: 125%;
}

body {
   text-transform: uppercase;
   letter-spacing: 3px;
   font-family: 'Oswald', sans-serif;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.wrapper {
   max-width: 1200px;
   width: 85%;
   margin: 0 auto;
}

