html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  height: 100vh;
  background-color: #3f3830;
  background-image: url(./assets/bg-edit.PNG);
  background-repeat: no-repeat;
  background-position: center;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav img {
  max-width: 2rem;
  margin-top: 1.5rem;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}
header nav ul li {
  padding: 1.5rem 0 1.5rem 2rem;
  font-size: 0.8rem;
}
header nav ul li a {
  color: #e5d9cd;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
header nav ul li a:hover,
header nav ul li a:focus {
  color: #afb1a1;
}
header .header-div {
  margin: 10rem 0;
}
header .header-div p {
  color: #afb1a1;
  font-size: 0.8rem;
  margin-bottom: 0;
}
header .header-div h1 {
  color: #e5d9cd;
  font-size: 3.5rem;
  margin-top: 1rem;
}
header .header-div a {
  font-size: 0.7rem;
  color: #3f3830;
  background-color: #afb1a1;
  padding: 1rem 2rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header .header-div a:hover {
  background-color: #e5d9cd;
  padding-right: 3rem;
}
header .header-arrow::after {
  content: url("https://api.iconify.design/ic/baseline-keyboard-double-arrow-down.svg?color=%233f3830&width=50&height=50");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
  -webkit-animation: bounce 1.2s linear infinite;
          animation: bounce 1.2s linear infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.about-section {
  background-color: #e5d9cd;
}
.about-section .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
}
.about-section .about-container .img-div {
  width: 48%;
}
.about-section .about-container .img-div img {
  width: 100%;
}
.about-section .about-container .info-about {
  width: 48%;
}
.about-section .about-container .info-about .first-para-about {
  color: #afb1a1;
}
.about-section .about-container .info-about h2 {
  font-size: 2rem;
  color: #6c7972;
}
.about-section .about-container .info-about .about-para {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #6c7972;
}

html {
  font-size: 125%;
}

body {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Oswald", sans-serif;
}

p {
  text-transform: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  width: 3rem;
  border: 1px solid #afb1a1;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}